::selection { background-color: #c28f60; color: white; }
	::-moz-selection { background-color: #c28f60; color: white; }

*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #F2EDE7;
	background-image: url('../img/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

td{
	text-align: center;
}

th{
	background-color: #c28f60;
	color: white;
}

li,a{
	display: inline;
	padding: 5px;
	text-decoration: none;
	color: #c28f60;
	font-family: verdana;
	font-size: 16px;
}

li a:hover, td a:hover{
	text-decoration: underline;
	color: brown;
}

h5 a{
	color: brown;
	text-decoration: none;
	margin-bottom: 30px;
}

table{
border-collapse:collapse;
width: 900px;
margin-left: auto;
margin-right: auto;
}

table, td, th{
border:2px solid brown;
padding: 4px;
}

main
{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

header
{
	background-image: url('../images/bigbook.gif');
	background-repeat: no-repeat;
	background-position: right;
	height: 230px;
	
}

header.books{
	height: 150px;
}

nav ul li{
	display: inline-block;
}

h1{
	font-family: courier;
	font-size: 80px;
	padding-left: 50px;
	color: brown;
}

h3{
	font-family: courier;
	font-size: 30px;
	padding-left: 150px;
	color: #c28f60;
	
	margin: 0px;
}

h4{
	font-family: courier;
	font-size: 20px;
	padding-left: 150px;
	color: #c28f60;

	margin: 0px;
}

/*form, form input, form span{
	font-size : 20px;

}

form label {
	margin-left : 20px;
	display : inline-block;
	width : 120px;
}

form input[type="text"]{
	width : 250px;
}

form div {
	margin-bottom : 3px;
}*/

.website{
	width: 60%;
	margin: auto;
}

.header{
	display: inline-block;
	width: 100%;
	display: block;
	float: left;
}

.content{
	width: 100%;
	display: block;
}

.footerct{
	width: 60%;
	margin: auto;
	display: block;
}

footer{
	width:100%;
	margin-top: 50px;
	text-align: center;
	float: left;
	color: brown;
	font-family: Georgia;
	font-size: 20px;
}

.kopje{
	
	float: left;
}

.boekje{
	display: inline-block;
	float: right;
	margin-top: 50px;
}

.content{
	display: block;
	float: left !important;
	margin-top: 50px !important;	
}

.menutje{
	width: 100%;
	text-align: center;
	float: left;
}

.menutje a{
	font-size: 25px;
	color: brown;
}

.menutje a:hover{
	background-color: rgba(5, 5, 5, 0.1);
	color: #c28f60;
}

.edit{
	width: 100%;
	height: 100%;
	margin-top: 0px !important;
	margin-right: 0px !important;
	margin-bottom: 0px !important;
	margin-left: 0px !important;

}

.nopad{
	padding-top: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 0px !important;

}

.nomarg{
	margin-top: 0px !important;
	margin-right: 0px !important;
	margin-bottom: 0px !important;
	margin-left: 0px !important;
	display: inline-block !important;

}
.sent{
	margin: 0 auto;
	margin-top: 15px;
}

.edittable{
	margin-top: 15px;
}

.fa{
	font-size: 60px !important;
	margin-left: 45px;
	margin-right: 45px;
	margin-top: 50px;
}

.icoontjes{
	width: 100%;
	text-align: center;
	color: white !important;
	text-shadow: 3.5px 5px rgba(0,0,0,0.5);
}

.icoontjes a{
	color: white !important;
}

.yesno a{
	color: #9e9e9e !important;
	font-size: 40px;
}

.fa-check:hover,
.fa-check:focus {
    color: green !important;
    cursor: pointer;
    text-shadow: 1.5px 5px rgba(0,0,0,0.5);
}

.fa-times:hover,
.fa-times:focus {
    color: red !important;
    cursor: pointer;
}

.yesno{
	width: 100%;
	text-align: center;
	color: #9e9e9e !important;
	font-size: 40px;
}

.no{
	margin-left: 35px;
}

.yes{
	margin-right: 35px;
}

/*#idfield{
	display: none;
}*/

.formulier {
	width: 650px !important;
	margin: 0 auto;

}

.formulier label{
	width: 300px;
	font-weight: 700;
}

.formulier input,
.formulier select,
.formulier textarea{
	width: 350px;
	float: right;
}

.formulier p{
	margin-bottom: 25px;
	border-bottom:;
}

.formulier p:last-of-type{
	border: none;
}

.sent{
	margin-top: 25px;
	height: 25px;
}

.modalbtn{
    background:none!important;
    border:none; 
    padding: 5px;
    cursor: pointer;
    color: #c28f60;
    font-family: verdana;
    font-size: 20px;
}

.modalbtn:hover{
	text-decoration: underline;
	color: brown;
}